<div class="general">
  <h5>Command</h5>
<div class="information">Copy and paste command once IV is set and pokemon are selected</div>
<p class="command">{{ command }}</p>
<div> 
<div class="command"> 
    <button mat-raised-button color="primary" ngxClipboard [cbContent]="command"  >Copy Command</button>
</div>
<hr>
<h5>IV Configuration</h5>
<div class="information">Can only do one IV selection at a time for multiple pokemon. You cannot select multiple pokemon with different IV ranges. Each one that needs to have seperete IV's will need to be seperate commands.</div>
<form class="iv">
    <mat-form-field>
        <input matInput  type="number" max="100" min="0" color="color" placeholder="minIV" [(ngModel)]="minIV" name="minIV">
</mat-form-field>
<mat-form-field>
    <input matInput  type="number" max="100" min="0" color="color" placeholder="maxIV" [(ngModel)]="maxIV" name="maxIV">
</mat-form-field>
</form>
<hr>
<mat-tab-group>
    <mat-tab label="Generation 1">
        <ng-template matTabContent>
      <app-pokemon-grid-list [pokemon] = "pokemonGen1" (OnChange)="toggle($event)"></app-pokemon-grid-list>
        </ng-template>
    </mat-tab>
    <mat-tab label="Generation 2">
              <ng-template matTabContent>
      <app-pokemon-grid-list [pokemon] = "pokemonGen2"></app-pokemon-grid-list>
              </ng-template>
    </mat-tab>
    <mat-tab label="Generation 3">
        <ng-template matTabContent>
      <app-pokemon-grid-list [pokemon] = "pokemonGen3"></app-pokemon-grid-list>
        </ng-template>
    </mat-tab>
    <mat-tab label="Generation 4">
        <ng-template matTabContent>
      <app-pokemon-grid-list [pokemon] = "pokemonGen4"></app-pokemon-grid-list>
        </ng-template>
    </mat-tab>
    <mat-tab label="Generation 5">
        <ng-template matTabContent>
      <app-pokemon-grid-list [pokemon] = "pokemonGen5"></app-pokemon-grid-list>
        </ng-template>
    </mat-tab>
  </mat-tab-group>
  </div>