<h1>PKSelector</h1>
<h5>Command</h5>
<div class="information">Copy and paste command once IV is set and pokemon are selected</div>
<span class="command">!track
    <span *ngFor="let item of selectedPokemon; let i = index">
     {{item}} 
    </span> {{iv}}
</span>
<hr>
<h5>IV Configuration</h5>
<div class="information">Can only do 1 iv selection at a time for multiple pokemon. You cannot select multiple pokemon with different iv ranges. Each one that needs to have seperete IV's will need to be seperate commands.</div>
<form class="iv">
    <mat-form-field class="example-full-width">
        <input matInput  type="number" max="100" min="0" color="color" placeholder="minIV" [(ngModel)]="minIV" name="minIV">
</mat-form-field>
<mat-form-field class="example-full-width">
    <input matInput  type="number" max="100" min="0" color="color" placeholder="maxIV" [(ngModel)]="maxIV" name="maxIV">
</mat-form-field>
</form>
<hr>
<mat-tab-group>
    <mat-tab label="Generation 1" flex>
      <mat-grid-list [cols]="gridColumns" [rowHeight]="gridRowHeight">
        <span *ngFor="let item of pokemonGen1; let i = index">
            <mat-grid-tile> <app-pokemon-slider [name]="item.name" [image]="item.id" (OnChange)="toggle($event)"></app-pokemon-slider></mat-grid-tile>
        </span>
      </mat-grid-list>
    </mat-tab>
    <mat-tab label="Generation 2">
        <mat-grid-list [cols]="gridColumns" [rowHeight]="gridRowHeight">
          <span *ngFor="let item of pokemonGen2; let i = index">
              <mat-grid-tile > <app-pokemon-slider [name]="item.name" [image]="item.id" (OnChange)="toggle($event)"></app-pokemon-slider></mat-grid-tile>
          </span>
        </mat-grid-list>
      </mat-tab>
      <mat-tab label="Generation 3">
          <mat-grid-list [cols]="gridColumns" [rowHeight]="gridRowHeight">
            <span *ngFor="let item of pokemonGen3; let i = index">
                <mat-grid-tile> <app-pokemon-slider [name]="item.name" [image]="item.id" (OnChange)="toggle($event)"></app-pokemon-slider></mat-grid-tile>
            </span>
          </mat-grid-list>
        </mat-tab>
        <mat-tab label="Generation 4">
            <mat-grid-list [cols]="gridColumns" [rowHeight]="gridRowHeight">
              <span *ngFor="let item of pokemonGen4; let i = index">
                  <mat-grid-tile> <app-pokemon-slider [name]="item.name" [image]="item.id" (OnChange)="toggle($event)"></app-pokemon-slider></mat-grid-tile>
              </span>
            </mat-grid-list>
          </mat-tab>
          <mat-tab label="Generation 5">
              <mat-grid-list [cols]="gridColumns" [rowHeight]="gridRowHeight">
                <span *ngFor="let item of pokemonGen5; let i = index">
                    <mat-grid-tile> <app-pokemon-slider [name]="item.name" [image]="item.id" (OnChange)="toggle($event)"></app-pokemon-slider></mat-grid-tile>
                </span>
              </mat-grid-list>
            </mat-tab>
  </mat-tab-group>


